[Unit]
Description=Deploy Speech to text with fastAPI
Requires=docker.service
After=docker.service

[Service]
Restart=always
User=root
Group=docker
WorkingDirectory=/home/deploy/speech-to-text

# Shutdown container (if running) when unit is started
ExecStartPre=/usr/bin/docker compose -f docker-compose.yaml down

# Start container when unit is started
ExecStart=/usr/bin/docker compose -f docker-compose.yaml up --build

# Stop container when unit is stopped
ExecStop=/usr/bin/docker compose -f docker-compose.yaml down

[Install]
WantedBy=multi-user.target
